recursive-include cloudvalidation_dashboard/static *
recursive-include cloudvalidation_dashboard/templates *
include ChangeLog
include README.rst
include MANIFEST.in
include AUTHORS
include LICENSE
include ChangeLog
include tox.ini
global-exclude *.pyc
