{% extends "horizon/common/_modal.html" %}
{% load i18n %}
{% load url from future %}

{% block modal-header %}{% trans "Job Details" %}{% endblock %}

{% block modal-body %}
<div class="info detail">
  <dl class="dl-horizontal">
            <dt>{% trans "Name" %}</dt>
            <dd>{{ object.name }}</dd>
            <dt>{% trans "Description" %}</dt>
            <dd>{{ object.description }}</dd>
            <dt>{% trans "Execution status" %}</dt>
            <dd>{{ object.report_status }}</dd>
            <dt>{% trans "Report" %}</dt>
            <dd>{{ object.report }}</dd>
  </dl>
</div>
{% endblock %}

{% block modal-footer %}
   <a href="../" class="btn btn-default secondary cancel close">{% trans "Close" %}</a>
{% endblock %}
